/* Stylesheet for the application */

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

#page {
    padding:8px;
    min-height: 600px;

}
header {
    display: flex;
    justify-content: start;
    background-color: #030531;


}
/*remove the line under links*/
a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding:15px;
    margin-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

#rightnav {
    display: flex;
    justify-content: right;

}
/*******vertical-menu******/
}
.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /*  grey  */
    color: black;
    display: block; /* Make the links appear below each other */
    padding: 12px;
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey  */
}

.vertical-menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
}

/********* createuser styles *****************/
.flex-container{
    display: flex;
    justify-content: center;
    background-color: #030531;
    border-radius: 15px;
}
.flex-container > div {
    background-color: white;
    margin: 10px;
    padding: 40px;
    border-radius: 15px;
}

.createuser-form {
    display: flex;
    align-content: center;
    flex-direction: column;

}
.login-form {
    display: flex;
    align-content: center;
    flex-direction: column;

}
.createuser-form input[type=text], .createuser-form input[type=password] {
    padding: 5px;
    font-size: 1.0rem;
    border-radius: 5px;
    border: 2px black solid;

}

.btn-create{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    background-color: green;
    color: black;
    font-size: 1.0rem;
    border: 2px black solid;

}
.btn-create:hover {
    background-color: darkgreen;
    color: black;
    font-size: 1.0rem;
}

.btnend {
    display: flex;
    justify-content: end;
}

.error:not(:empty) {
    display: flex;
    justify-content: center;
    align-items: start;
    border: 2px solid red;
    width: 200px;

}

.boxtitel {
   margin-bottom: 5px;
    display: flex;
    font-size: 1rem;
}





/****** Media query *******/
@media screen and (max-width: 600px){
    header {
        display: flex;
        justify-content: center;
        background-color: #030531;
    }
    .boxtitel {
        margin: 2px;
        display: flex;
    }

    .createuser-form {

        align-items: center;
        flex-direction: column;
        gap: 0px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap:10px;
    }


}