/* Stylesheet for the application */

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
h3 {
    display: flex;
    justify-content: center;
}
#page {
    padding:8px;
    min-height: 600px;
    font-family: Arial, Helvetica, sans-serif;

}
header {
    display: flex;
    justify-content: start;
    background-color: #030531;


}
/*remove the line under links*/
a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding:15px;
    margin-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

#rightnav {
    display: flex;
    justify-content: right;

}
}
#midnav {
    display: flex;
    justify-content: center;
    height: 32px;

}
.Titel_nav {
    margin-top: 3px;
    font-size: 1.3rem;
}

/********* createuser styles *****************/
.flex-container{
    display: flex;
    justify-content: center;
    background-color: #030531;
    border-radius: 15px;
}
.flex-container > div {
    background-color: white;
    margin: 10px;
    padding: 40px;
    border-radius: 15px;
}

.createuser-form {
    display: flex;
    align-content: center;
    flex-direction: column;

}
.login-form {
    display: flex;
    align-content: center;
    flex-direction: column;

}
.createuser-form input[type=text], .createuser-form input[type=password], .createuser-form input[type=number], .createuser-form input[type=gray]{
    padding: 5px;
    font-size: 1.0rem;
    border-radius: 5px;
    border: 2px black solid;

}

.btn-create{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    background-color: green;
    color: black;
    font-size: 1.0rem;
    border: 2px black solid;
    margin: 2px;

}
.btn-gen{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    background-color: grey;
    color: black;
    font-size: 1.0rem;
    border: 2px black solid;
}
.btn-create:hover {
    background-color: darkgreen;
    color: black;
    font-size: 1.0rem;
}

.btnend {
    display: flex;
    justify-content: end;
}

.errorbox {
    display: flex;
    justify-content: center;
}

.error:not(:empty) {
    display: flex;
    justify-content: center;
    align-items: start;
    border: 2px solid red;
    width: 200px;

}

.boxtitel {
   margin-bottom: 5px;
    display: flex;
    font-size: 1rem;
}
.calculater {
    background-color: white;
    margin: 10px;
    padding: 40px;
}

/*addmaterial style*/
.info-addmat {
    display: flex;
    width: 350px;
    height: 32px;
    justify-content: center;
    background-color: lightgray;
    border-radius: 5px;

}
.boxtitel2 {
    margin: 5px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

 .fixed-circle {
     position: fixed;
     bottom: 30px;
     right: 30px;
 }
.overlay-text {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -100%);
    background-color: green;
    padding: 3px 3px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1rem;
    align-content: center;
}
.grayed-out {
    background-color: lightgray;
    pointer-events: none; /* Disable mouse events */
}

/*Order-details.*/
.Material-list {
    width: 100%;
    border-collapse: collapse;
}

.Material-list th,
.Material-list td {
    border: 1px solid #d3d3d3; /* Lysegrå linje */
    padding: 8px;
    text-align: left;
}

.Material-list th {
    background-color: #f2f2f2;
    font-size: 16px; /* Størrelse på tekst i <th> */
}

.Material-list td {
    font-size: 12px; /* Størrelse på tekst i <td> */
}

.Material-list tr:nth-child(even) {
    background-color: #f9f9f9;
}

.Material-list tr:hover {
    background-color: #f1f1f1;
}


.Material-list2 {

    width: 100%;
    border-collapse: collapse;
}

.Material-list2 th,
.Material-list2 td {
    border: 1px solid #d3d3d3; /* Lysegrå linje */
    padding: 8px;
    text-align: left;
}

.Material-list2 th {
    background-color: #f2f2f2;
}

.Material-list2 tr:nth-child(even) {
    background-color: #f9f9f9;
}

.Material-list2 tr:hover {
    background-color: #f1f1f1;
}


/****** Media query *******/
@media screen and (max-width: 600px){
    header {
        display: flex;
        justify-content: center;
        background-color: #030531;

    }
    .boxtitel {
        margin: 2px;
        display: flex;
    }
    .boxtitel2 {
        margin: 2px;
        display: flex;
    }

    .createuser-form {

        align-items: center;
        flex-direction: column;
        gap: 0px;
    }

    nav {
        flex-direction: row;
        align-items: center;
        gap:5px;
        margin-bottom: 5px;
        padding: 8px;
    }
    .info-addmat {
        flex-direction: column;

        width: 209px;
    }
    .flex-container {
        flex-direction: column;
        border-radius: 15px;

    }
    .fixed-circle {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    .Material-list2 {
        display: none;
    }


    .Material-list th, .Material-list td{
        width: 100%;
        padding: 2px ;
        font-size: 0.8rem;
    }
    .responsive-message {
        text-align: center;
        font-size: 16px;
        padding: 10px;
        background-color: #f2dede;
        color: #a94442;
    }

}