<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div id="page">

    <header>

        <img src="../public/images/logofog.PNG" th:src="@{/images/logofog.PNG}" height="176" width="179"/>
    </header>
    <nav>
        <div id="leftnav">
            <form th:action="@{/salesperson}" method="post">
                <button type="submit" class="btn-gen">Tilbage</button>
            </form>
        </div>
        <div id="midnav"> <p class="Titel_nav"> Velkommen <strong><span th:if="${session.currentUser != null}" th:text="${session.currentUser.firstName}"></span></strong>, du kan her tilføje et nyt materiale </p></div>
        <div id="rightnav">
            <button class="btn-gen"><a href="index.html" th:href="@{/logout}">Log ud</a></button>
        </div>
    </nav>
    <div class="flex-container">
        <div>
            <h3>Opret materiale</h3>
            <form class="createuser-form" method="post">
                <p class="boxtitel">navn</p>
                <input type="text" name="name" placeholder="Indtast navn"/>
                <p class="boxtitel">beskrivelse</p>
                <input type="text" name="description" placeholder="Indtast beskrivelse"/>
                <p class="boxtitel">pris</p>
                <input type="number" name="price" placeholder="Indtast pris"/>

                <p class="boxtitel">enhed</p>
                <div class="radio">
                    <input type="radio" name="unit" value="1"/>
                    <label>Stk</label>
                    <input type="radio" name="unit" value="2"/>
                    <label>Pakke</label>
                    <input type="radio" name="unit" value="3"/>
                    <label>Rulle</label>
                    <input type="radio" name="unit" value="4"/>
                    <label>Sæt</label>
                </div>
                <br>

                <div class="info-addmat">
                    <p class="boxtitel2"><strong>Underliggende felter udfyldes kun hvis informationen haves</strong></p>
                </div>

                <p class="boxtitel">bredde</p>
                <input type="number" name="width" placeholder="Indtast bredde"/>
                <p class="boxtitel">længde</p>
                <input type="number" name="length" placeholder="Indtast længde"/>
                <p class="boxtitel">højde</p>
                <input type="number" name="height" placeholder="Indtast højde"/>
                <br>
                <br>

                <div class="btnend">
                    <button class="btn-create" type="submit" formaction="/addmaterial">Tilføj Materiale</button>
                </div>
                <div class="errorbox"><p class="error" th:text="${message}"></p>

                </div>

            </form>
        </div>
    </div>


</div>
</body>
</html>
