<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div id="page">
    <header>

        <img src="../public/images/logofog.PNG" th:src="@{/images/logofog.PNG}" height="176" width="179"/>
    </header>
    <nav>
        <div id="leftnav">

        </div>
        <div id="rightnav">
            <button class="btn-create"> <a href="login.html" th:href="@{/login}">Login</a></button>
        </div>
    </nav>
    <div class="flex-container">
        <div>
            <form class="createuser-form" method="post">
                <p class="boxtitel">fornavn</p>
                <input type="text" name="first_name" placeholder="Angiv fornavn"/>
                <p class="boxtitel">efternavn</p>
                <input type="text" name="last_name" placeholder="Angiv efternavn"/>
                <p class="boxtitel">adresse</p>
                <input type="text" name="address" placeholder="Angiv adresse"/>
                <p class="boxtitel">postnummer</p>
                <input type="number" name="zip_code" placeholder="Angiv postnummer"/>
                <p class="boxtitel">telefonnummer</p>
                <input type="number" name="phonenumber" placeholder="Angiv telefonnummer"/>
                <p class="boxtitel">email</p>
                <input type="text" name="email" placeholder="navn@eksempel.dk"/>
                <p class="boxtitel">kodeord</p>
                <input type="password" name="password1" placeholder="Opret kodeord"/>
                <p class="boxtitel">gentag kodeord</p>
                <input type="password" name="password2" placeholder="Gentag kodeord"/> <br>
                <br>

                <div class="btnend">
                    <button class="btn-create" type="submit" formaction="/createuser">opret konto</button>
                </div>
                <div class="errorbox"><p class="error" th:text="${message}"></p>

                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>
