<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div id="page">
    <header>

        <img src="../public/images/logofog.PNG" th:src="@{/images/logofog.PNG}"height="176" width="179"/>
    </header>
    <nav>

    </nav>
    <div class="flex-container">
        <div>
            <form class="createuser-form" method="post">

                <input type="text" name="first_name" placeholder="Angiv fornavn"/> <br>
                <input type="text" name="last_name" placeholder="Angiv efternavn"/> <br>
                <input type="text" name="address" placeholder="Angiv adresse"/> <br>
                <input type="text" name="zip_code" placeholder="Angiv postnummer"/> <br>
                <input type="text" name="phonenumber" placeholder="Angiv telefonnummer"/> <br>
                <input type="text" name="email" placeholder="Angiv email"/> <br>
                <input type="password" name="password1" placeholder="Angiv ønsket password"/> <br>
                <input type="password" name="password2" placeholder="Gentag password"/> <br>
                <br>
                <button class="btn-create" type="submit" formaction="/createuser">opret bruger</button>

                    <div class="error"><p th:text="${message}"></p>

                    </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>
