<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div id="page">
    <header>

        <img src="../public/images/logofog.PNG" th:src="@{/images/logofog.PNG}" height="176" width="179"/>
    </header>
    <div>
        <div th:if="${session.currentUser == null}">
            <h2>Du er ikke logget ind</h2>
            <a href="/login" class="btn-create">Login</a>
        </div>

        <nav th:if="${session.currentUser != null}">
            <div id="leftnav">

            </div>
            <div id="midnav">
                <p class="Titel_nav"> Velkommen <strong><span th:if="${session.currentUser != null}"
                                                              th:text="${session.currentUser.firstName}"></span></strong>,
                    du er nu logget ind som kunde </p>

            </div>

            <div id="rightnav">

                <button class="btn-gen"><a href="index.html" th:href="@{/logout}">Log ud</a></button>
            </div>


        </nav>
        <div class="flex-container" th:if="${session.currentUser != null}">
            <div>


                <div th:if="${session.orderUser != null}">


                    <h3>Informationer om din ordre: </h3>
                    <p th:if="${session.orderUser.status != 'Betaling gennemført'}"><strong>Status på dine ordre: </strong> <span th:text="${session.orderUser.status}"></span></p>
                    <p><strong>Ordre id: </strong> <span th:text="${session.orderUser.orderId}"></span></p>
                    <h2>Dine ønskede mål: </h2>
                    <br>
                    <p><strong>Længde:</strong> <span th:text="${session.orderUser.length / 10}"></span> cm</p>
                    <p><strong>Bredde:</strong> <span th:text="${session.orderUser.width / 10}"></span> cm</p>

                    <p th:if="${session.orderUser.status != 'Afventer'}"><strong>Total pris: </strong> <span
                            th:text="${session.orderUser.totalPrice}"></span> kr</p>

                    <form action="/setStatusAccepted" method="post"
                          th:if="${session.orderUser.status == 'Tilbud færdiggjort'}">
                        <button class="btn-create" type="submit">Accepter ordre</button>
                    </form>
                    <br>
                    <form action="/setStatusDeclined" method="post"
                          th:if="${session.orderUser.status == 'Tilbud færdiggjort'}">
                        <button class="btn-create" type="submit">Afslå ordre</button>
                    </form>
                    <p class="error" th:if="${message != null}" th:text="${message}"></p>
                </div>

                <div th:if="${session.orderUser == null}">
                    <h4>Du har ingen ordre</h4>
                    <div><p class="error" th:text="${message}"></p>

                    </div>
                </div>


            </div>


            <div th:if="${session.orderUser == null}">
                <a href="customize_page.html" th:href="@{/customize}">
                    <div>
                        <h3>Klik på billedet for at starte</h3>
                        <h3>Carport m. Specialmål</h3>
                        <img class="indexbox" src="../public/images/LogoFlat.png" th:src="@{/images/LogoFlat.png}"/>
                    </div>
                </a>
            </div>
            <div >
                <div class="orderUser-start">
                    <h3 class="orderUser-text" th:if="${session.orderUser.status == 'Afventer'}">
                        Tak for din forespørgsel på bestilling af carport. <br>
                        En medarbejder vil gennemgå dine mål. <br>
                        Vi vender tilbage med tilbud snarest</h3>

                    <h3 class="orderUser-text"  th:if="${session.orderUser.status == 'Tilbud færdiggjort'}">
                        Tak for din forespørgsel på bestilling af carport. <br>
                        Vi har nu et tilbud klar </h3>

                    <h3 class="orderUser-text" th:if="${session.orderUser.status == 'Betaling gennemført'}">
                        Vi har nu modtaget din betaling. <br>
                        Vi vender snarest muligt tilbage med leveringsdato </h3>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div th:if="${session.orderUser != null}">
                    <h4>Har du brug for flere carporte?</h4>
                    <h4> Giv os et kald.</h4>
                </div>
            </div>

            <div>

                <div th:if="${session.currentUser != null}">
                    <div>
                        <h3>Kontaktinformationer</h3>
                        <p><strong>Fornavn:</strong> <span th:text="${session.currentUser.firstName}"></span></p>
                        <p><strong>Efternavn:</strong> <span th:text="${session.currentUser.lastName}"></span></p>
                        <p><strong>Email:</strong> <span th:text="${session.currentUser.email}"></span></p>
                        <p><strong>Telefonnummer:</strong> <span th:text="${session.currentUser.phonenumber}"></span>
                        </p>
                        <p><strong>Adresse:</strong> <span th:text="${session.currentUser.address}"></span></p>
                        <p><strong>Postnummer:</strong> <span th:text="${session.currentUser.zipcode}"></span></p>
                        <p><strong>By:</strong> <span th:text="${session.currentUser.city}"></span></p>
                    </div>
                </div>

            </div>

            <div class="fixed-circle">
                <a href="https://www.johannesfog.dk/om-fog/forretninger/kontakt">
                    <img src="../public/images/phonelogo.png" th:src="@{/images/phonelogo.png}"/>
                    <span class="overlay-text"> Kontakt os her </span>
                </a>
            </div>

        </div>
    </div>
</div>
</body>
</html>