<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div id="page">
    <header>

        <img src="../public/images/logofog.PNG" th:src="@{/images/logofog.PNG}" height="176" width="179"/>
    </header>
    <nav>
        <div id="leftnav">

        </div>
        <div id="midnav">
            <p class="Titel_nav"> Velkommen <strong><span th:if="${session.currentUser != null}" th:text="${session.currentUser.firstName}"></span></strong>, du er nu logget ind som kunde </p>

        </div>

        <div id="rightnav">

            <button class="btn-gen"><a href="index.html" th:href="@{/logout}">Log ud</a></button>
        </div>


    </nav>
    <div class="flex-container">
        <div>

            <div th:if="${session.orderUser != null}">
                <h2>SE DIN ORDRE HER!</h2>
                <p>Længde: <span th:text="${session.orderUser.length}"></span></p>
                <p>Bredde: <span th:text="${session.orderUser.width}"></span></p>
                <p>Status: <span th:text="${session.orderUser.status}"></span></p>
                <p th:if="${session.orderUser.status != 'Afventer'}">Total pris: <span th:text="${session.orderUser.totalPrice}"></span></p>

                <form action="/setStatusAccepted" method="post" th:if="${session.orderUser.status == 'Tilbud færdiggjort'}">
                    <button type="submit">Accepter ordre</button>
                </form>
                <p th:if="${message != null}" th:text="${message}"></p>
            </div>

            <div th:if="${session.orderUser == null}">
                Du har ingen ordre, lav en her:
              
                </div>



        </div>




        <div>
            <h3>more magic - HEJ TEST</h3>
        </div>
        <div>
            <h3>Even more magic</h3>
        </div>

    </div>
</div>
</body>
</html>