<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div id="page">

    <header>

        <img src="../public/images/logofog.PNG" th:src="@{/images/logofog.PNG}" height="176" width="179"/>
    </header>
    <div>
        <div th:if="${session.currentUser == null}">
            <h2>Du er ikke logget ind</h2>
            <a href="/login" class="btn-create">Login</a>
        </div>
        <nav th:if="${session.currentUser != null}">
            <div id="leftnav">
                <form method="post" th:action="@{/salesperson}">
                    <button class="btn-create" type="submit">Tilbage</button>
                </form>
            </div>
            <div id="midnav"><p class="Titel_nav"> Velkommen <strong><span th:if="${session.currentUser != null}"
                                                                           th:text="${session.currentUser.firstName}"></span></strong>,
                søg og opdatere et materiale i din beholdning </p></div>
            <div id="rightnav">
                <button class="btn-gen"><a href="index.html" th:href="@{/logout}">Log ud</a></button>
            </div>
        </nav>

        <div class="flex-container" th:if="${session.currentUser != null}">
            <div>
                <h3>Find materiale</h3>
                <form class="createuser-form" method="post" th:action="@{/findMaterial}">
                    <label class="boxtitel">Materiale ID:</label>
                    <input type="number" name="material_id"><br>
                    <button class="btn-create" type="submit">Søg</button>

                    <div class="errorbox"><p class="error" th:text="${message}"></p>

                    </div>
                </form>
                <div th:if="${material != null}">

                    <label class="boxtitel"><strong>Navn:</strong></label>
                    <p><span th:text="${material.name}"></span></p>
                    <br>
                    <label class="boxtitel"><strong>Beskrivelse:</strong></label>
                    <p><span th:text="${material.description}"></span></p>
                    <br>
                    <label class="boxtitel"><strong>Pris:</strong></label>
                    <p><span th:text="${material.price}"></span></p>

                </div>
            </div>
            <div>
                <h3>Opdater materiale</h3>
                <form class="createuser-form" method="post" th:action="@{/updateMaterial}">

                    <label class="boxtitel">Materiale ID:</label>
                    <input type="number" name="material_id"><br>

                    <label class="boxtitel">Navn:</label>
                    <input type="text" name="name"><br>

                    <label class="boxtitel">Beskrivelse:</label>
                    <input type="text" name="description"><br>

                    <label class="boxtitel">Pris:</label>
                    <input type="number" name="price"><br>


                    <button class="btn-create" type="submit">Opdater Materiale</button>

                </form>

                <div class="errorbox">
                    <p class="error" th:text="${message1}"></p>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>
