<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div id="page">

    <header>

        <img src="../public/images/logofog.PNG" th:src="@{/images/logofog.PNG}" height="176" width="179"/>
    </header>
    <nav>
        <div id="leftnav">
            <button class="btn-gen"><a href="salesperson_page.html" th:href="@{/salesperson}">Tilbage</a></button>
        </div>
        <div id="rightnav">
            <button class="btn-gen"><a href="index.html" th:href="@{/logout}">Log ud</a></button>
        </div>
    </nav>

    <div class="flex-container">
        <div>
            <form method="post" th:action="@{/findMaterial}">
                <label for="material_id">Materiale ID:</label>
                <input type="number" id="material_id" name="material_id" ><br>
                <button class="btn-create" type="submit">Søg</button>

                <div class="errorbox"><p class="error" th:text="${message}"></p>

                </div>
            </form>
            <div th:if="${material != null}">

                <p>Navn: <span th:text="${material.name}"></span></p>
                <p>Beskrivelse: <span th:text="${material.description}"></span></p>
                <p>Pris: <span th:text="${material.price}"></span></p>

            </div>
        </div>
        <div>
            <form method="post" th:action="@{/updateMaterial}">

                <label >Materiale ID:</label>
                <input type="number"  name="material_id" ><br>

                <label>Navn:</label>
                <input type="text"  name="name" ><br>

                <label >Beskrivelse:</label>
                <input type="text"  name="description" ><br>

                <label >Pris:</label>
                <input type="number"  name="price" ><br>


                <button class="btn-create" type="submit">Opdater Materiale</button>

            </form>

            <div class="errorbox">
                <p class="error" th:text="${message1}"></p>
            </div>

        </div>
    </div>


</div>
</body>
</html>
