<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div id="page">

        <header>

            <img src="../public/images/logofog.PNG" th:src="@{/images/logofog.PNG}"height="176" width="179"/>
        </header>
        <nav>
            <div id="leftnav">

            </div>

            <div id="rightnav">
                 <button class="btn-create"> <a href="login.html" th:href="@{/login}">Login</a></button>
                 <button class="btn-create"> <a href="createuser.html" th:href="@{/createuser}">Opret konto</a></button>
                <button class="btn-create"> <a href="customize_page.html" th:href="@{/customize}">Design carport</a></button>
            </div>


        </nav>







</div>
</body>
</html>
