<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div id="page">
    <header>

        <img src="../public/images/logofog.PNG" th:src="@{/images/logofog.PNG}" height="176" width="179"/>
    </header>
    <div>
        <div th:if="${session.currentUser == null}">
            <h2>Du er ikke logget ind</h2>
            <a href="/login" class="btn-create">Login</a>
        </div>
        <nav th:if="${session.currentUser != null}">
            <div id="leftnav" >

                <form method="post" th:action="@{/salesperson}">
                    <button class="btn-create" type="submit">Tilbage</button>
                </form>
            </div>
            <div id="midnav">
                <p class="Titel_nav"> Velkommen <strong><span th:if="${session.currentUser != null}"
                                                              th:text="${session.currentUser.firstName}"></span></strong>,
                    du kan her se informationer om ordre nr: <strong><span th:text="${session.orderDetails.orderid}"></span></strong> </p>

            </div>

            <div id="rightnav">

                <button class="btn-gen"><a href="index.html" th:href="@{/logout}">Log ud</a></button>
            </div>


        </nav>

        <div class="flex-container" th:if="${session.currentUser != null}">

            <div th:if="${session.orderDetails != null}">


                <h3>Kontaktinformationer</h3>
                <p><strong>Fornavn:</strong> <span th:text="${session.userInformation.firstName}"></span></p>
                <p><strong>Efternavn:</strong> <span th:text="${session.userInformation.lastName}"></span></p>
                <p><strong>Email:</strong> <span th:text="${session.userInformation.email}"></span></p>
                <p><strong>Telefonnummer:</strong> <span th:text="${session.userInformation.phonenumber}"></span></p>
                <p><strong>Adresse:</strong> <span th:text="${session.userInformation.address}"></span></p>
                <p><strong>Postnummer:</strong> <span th:text="${session.userInformation.zipcode}"></span></p>
                <p><strong>By:</strong> <span th:text="${session.userInformation.city}"></span></p>
            </div>

            <div>
                <div class="message">
                    <p th:text="${messageUpdatePrice}"> </p>
                </div>

                <div class="send offer" th:if="${session.orderDetails.totalPrice != 0.0}">
                    <form action="/offermade" method="post" th:if="${session.orderDetails.status == 'Afventer'}">
                        <input type="hidden" id="sendoffer" name="orderId"
                        th:value="${session.orderDetails.orderId}">
                        <input class="btn-create" type="submit" value="Send tilbud">
                    </form>
                </div>

                <form action="/setStatusPaid" method="post"
                      th:if="${session.orderDetails.status == 'Tilbud accepteret'}">
                    <input type="hidden" id="paid" name="orderId" th:value="${session.orderDetails.orderId}">
                    <input class="btn-create" type="submit" value="Betaling gennemført">
                </form>

                <h2>Ordredetaljer</h2>
                <p><strong>Status:</strong> <span th:text="${session.orderDetails.status}"></span></p>
                <p th:if="${session.orderDetails.textInput != ''}">
                    <strong>Kommentar:</strong> <span th:text="${session.orderDetails.textInput}"></span></p>
                <p th:if="${session.orderDetails.textInput == ''}">
                    Der er ikke tilføjet kommentar til ordren.</p>

                <p th:if="${session.orderDetails.status =='Afventer'}"><strong>Ønskede mål: </strong></p>
                <p th:if="${session.orderDetails.status !='Afventer'}"><strong>Mål: </strong></p>
                <p>Længde:<span th:text="${session.orderDetails.length /10}"></span> cm</p>
                <p>Bredde:<span th:text="${session.orderDetails.width /10}"></span> cm</p>
                <h2>Information vedr. pris</h2>
                <p th:if="${session.orderDetails.totalPrice != 0.0}"><strong>Salgspris:
                    <span th:text="${session.orderDetails.totalPrice}"></span> kr </strong></p>
                <p th:if="${session.costPrice != null}">Indkøbspris:
                    <span th:text="${session.costPrice}"></span> kr</p>
                <p th:if="${session.suggestedPrice != null}"> Pris med 30 % dækningsgrad:
                    <span th:text="${session.suggestedPrice}"></span> kr</p>

                <div class="calculater" th:if="${session.orderDetails.status != 'Tilbud accepteret' && session.orderDetails.status != 'Betaling gennemført'}">
                <h3>Opdater prisen</h3>
                    <form class="createuser-form" action="/updatetotalprice" method="post">
                        <input type="hidden" id="updateprice" name="orderId" th:value="${session.orderDetails.orderId}">

                        <label for="newTotalPrice">Ny Pris:</label>
                        <input type="number" id="newTotalPrice" name="newTotalPrice" required><br><br>
                        <input class="btn-gen" type="submit" value="Opdater Pris">
                    </form>

                </div>
            </div>

            <div>
                <h3>Materialeliste</h3>
                <table class="Material-list">
                    <thead>
                    <tr>
                        <th>Antal</th>
                        <th>Materiale</th>
                        <th>Enhed</th>
                        <th>Beskrivelse</th>
                        <th>Længde i mm</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="material : ${session.orderMaterialList}">
                        <td th:text="${material.quantity}"></td>
                        <td th:text="${material.name}"></td>
                        <td th:text="${material.unitName}"></td>
                        <td th:text="${material.description}"></td>
                        <td th:text="${material.length}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>


</div>
</body>
</html>