<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div id="page">
    <header>

        <img src="../public/images/logofog.PNG" th:src="@{/images/logofog.PNG}" height="176" width="179"/>
    </header>
    <div>
        <div th:if="${session.currentUser == null}">
            <h2>Du er ikke logget ind</h2>
            <a href="/login" class="btn-create">Login</a>
        </div>
        <nav th:if="${session.currentUser != null}">
            <div id="leftnav">

            </div>

            <div id="rightnav">

                <button class="btn-gen"><a href="index.html" th:href="@{/logout}">Log ud</a></button>
            </div>


        </nav>
        <div class="flex-container" th:if="${session.currentUser != null}">
            <div>
                <h1>TAK FOR DIN BESTILLING</h1>
                <p class="Titel_nav"> Kære <strong><span th:if="${session.currentUser != null}"
                                                         th:text="${session.currentUser.firstName}"></span></strong>,
                    vi vender hurtigst muligt tilbage med et tilbud </p>

                <button class="btn-create"><a th:href="@{/getOrderForCurrentUser}">Tryk her for at gå til din side</a>
                </button>
            </div>


        </div>


        <div class="fixed-circle">
            <a href="https://www.johannesfog.dk/om-fog/forretninger/kontakt">
                <img src="../public/images/phonelogo.png" th:src="@{/images/phonelogo.png}"/>
                <span class="overlay-text"> Kontakt os her </span>
            </a>
        </div>

    </div>
</div>
</body>
</html>