<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div id="page">
    <header>

        <img src="../public/images/logofog.PNG" th:src="@{/images/logofog.PNG}" height="176" width="179"/>
    </header>
    <nav>
        <div id="leftnav">

            <form method="post" th:action="@{/salesperson}">
                <button class="btn-create" type="submit"  >Tilbage</button>
            </form>
        </div>
        <div id="midnav">
            <p class="Titel_nav"> Velkommen <strong><span th:if="${session.currentUser != null}"
                                                          th:text="${session.currentUser.firstName}"></span></strong>,
                du kan her se informationer om ordren </p>

        </div>

        <div id="rightnav">

            <button class="btn-gen"><a href="index.html" th:href="@{/logout}">Log ud</a></button>
        </div>


    </nav>


    <div class="flex-container">


        <div th:if="${orderDetails != null}">

                <h3>Kontaktinformationer</h3>
                <p><strong>Fornavn:</strong> <span th:text="${userInformation.firstName}"></span></p>
                <p><strong>Efternavn:</strong> <span th:text="${userInformation.lastName}"></span></p>
                <p><strong>Email:</strong> <span th:text="${userInformation.email}"></span></p>
                <p><strong>Telefonnummer:</strong> <span th:text="${userInformation.phonenumber}"></span></p>
                <p><strong>Adresse:</strong> <span th:text="${userInformation.address}"></span></p>
                <p><strong>Postnummer:</strong> <span th:text="${userInformation.zipcode}"></span></p>
                <p><strong>By:</strong> <span th:text="${userInformation.city}"></span></p>
            </div>

            <div>
                <h3>Ordredetaljer</h3>
                <p>Status <span th:text="${orderDetails.status}"></span></p>
                <p>Længde: <span th:text="${orderDetails.length}"></span></p>
                <p>Bredde: <span th:text="${orderDetails.width}"></span></p>

                <p>Besked: <span th:text="${orderDetails.textInput}"></span></p>

            <p th:if="${totalPrice != null}">Indkøbspris: <span th:text="${totalPrice}"></span></p>
            <p th:if="${orderDetails.totalPrice != 0.0}">Samlet pris: <span th:text="${orderDetails.totalPrice}"></span></p>

            <div class="calculater">
                <h3>Opdater prisen</h3>
                <form class="createuser-form" action="/updatetotalprice" method="post">
                    <input type="hidden" id="updateprice" name="orderId" th:value="${orderDetails.orderId}">
                    <label for="newTotalPrice">Ny Pris:</label>
                    <input type="number" id="newTotalPrice" name="newTotalPrice" required><br><br>
                    <input class="btn-gen" type="submit" value="Opdater Pris">
                </form>

            <div class="message">
                <p th:if="${messageorder != null}" th:text="${messageorder}"></p>
            </div>


            <form action="/offermade" method="post" th:if="${orderDetails.status == 'Afventer'}">
                <input type="hidden" id="sendoffer" name="orderId" th:value="${orderDetails.orderId}">
                <input class="btn-create" type="submit" value="Send tilbud">
            </form>
                <br>
                <br>

            <form action="/setStatusPaid" method="post" th:if="${orderDetails.status == 'Tilbud accepteret'}">
                <input type="hidden" id="paid" name="orderId" th:value="${orderDetails.orderId}">
                <input class="btn-create" type="submit" value="Betaling gennemført">
            </form>
            <div><p class="error" th:text="${message}"></p>
        </div>

            </div>
            </div>





            <div>

                <h2>Materialeliste</h2>
                <table class="Material-list">
                    <thead>
                    <tr>
                        <th>Antal</th>
                        <th>Materiale</th>
                        <th>Enhed</th>
                        <th>Beskrivelse</th>
                        <th>Længde i mm</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="material : ${orderMaterialList}">
                        <td th:text="${material.quantity}"></td>
                        <td th:text="${material.name}"></td>
                        <td th:text="${material.unitName}"></td>
                        <td th:text="${material.description}"></td>
                        <td th:text="${material.length}"></td>
                    </tr>
                    </tbody>
                </table>
                </div>


    </div>
</div>
</body>
</html>
