<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div id="page">
    <header>

        <img src="../public/images/logofog.PNG" th:src="@{/images/logofog.PNG}"height="176" width="179"/>
    </header>

Dette er sales person

    ORDRELISTE
    <table>
        <thead>
        <tr>
            <th>Ordrenummer</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${allOrdersList}">
            <td th:text="${order.orderId}"></td>
            <td th:text="${order.status}"></td>
        </tr>
        </tbody>
    </table>

    <p th:if="${session.currentUser != null}">
        <a href="index.html" th:href="@{/logout}">Log ud</a>
    </p>


    <a href="addmaterial.html" th:href="@{/addmaterial}"> Tilføj Materiale </a>
</div>
</body>
</html>
